
on fota-init

export PATH /sbin

# setup the global environment
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /data/data
    mkdir /dev/fb0

    mkdir /cache
    mount /tmp /tmp tmpfs

    #mount rootfs rootfs / rw remount

    mount ext4 /dev/block/mmcblk0p5 /system rw

    mount ext4 /dev/block/mmcblk0p6 /data nosuid nodev data=ordered

    chown system system /data
    chmod 0771 /data
    
    
    chmod 0777	/data/data
    chmod 0777  /dev/fb0

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default


#service recovery /sbin/recovery

service adbd /sbin/adbd recovery

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

